.searchbar-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.searchbar {
  padding: 0.7rem;
  outline: none;
  border: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  width: 70%;
}

.search-icon {
  background-color: #f26522;
  border-color: #f26522;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 0.5rem;
  display:flex;
  align-items: center;
}

.search-fa-icon {
  font-size: 1.2rem;
}
