.sidebar {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar-list-items {
  color: #fff;
  list-style-type: none;
  text-align: left;
  padding: 2rem;
}

.list-item {
  font-size: 1.5rem;
  padding-bottom: 2.5rem;
}

.list-item-link {
  text-decoration: none;
  color: #fff;
}

.cross-icon {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 9rem;
}
